.heading-1 {
  color: darkblue;
}

.heading-2 {
  color: cornflowerblue;
}

.copy__table {
  cursor: pointer;
  color: cornflowerblue;
  transition: all 0.2s;
}

.copy__table:hover,
.copy__table:active {
  color: rgb(17, 197, 86);
  transform: translateY(3px);
}
